@import "tailwindcss";

.shimmer {
  position: relative;
  overflow: hidden;
  background: #2b3139;
}

.shimmer::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateX(-100%);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255,255,255,.12),
    transparent
  );
  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes heartPop {
  0% {
    transform: scale(1);
  }

  35% {
    transform: scale(1.35);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.heart-pop {
  animation: heartPop 0.3s ease;
}